[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
ipykernel = "*"
tqdm = "*"
ipywidgets = "*"
openai = "*"
pyyaml = "*"
fastapi = {extras = ["all"], version = "*"}
slack-sdk = "*"
tabulate = "*"
flask = "*"
python-dotenv = "*"
slack-bolt = "*"

[dev-packages]

[requires]
python_version = "3.10"
